<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTVvsS3CsA51vHlTRTqLstnK5L4NpVjNDUG4VD5eL1r-2pqpY9V" id="icon" alt="User Icon" width="20%" height="10%"/>
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <input type="text" id="login" class="fadeIn second" formControlName="username" placeholder="username" >
      <input type="text" id="password" class="fadeIn third" formControlName="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In"> 
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>